<section class="locations-container" ng-repeat="destination in allInfo">
    <section class="location-card" >
        <div class="image-container">

            <img src="{{destination.image}}" alt="Pics">
        </div>

        <div class="location-inner-left">
            <h6>{{destination.city}}</h6>
            <h1>{{destination.country}}</h1>
            <p><{{destination.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At ${{destination.price}}</h3>
            <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
            is expecting an id to be passed along You can get that id from the data object that we are repeating over -->
            <button ui-sref='booked({id: "{{destination.id}}"})'>Book Now</button>
        </div>
    </section>
</section>
